
@import '/src/components/colors.scss';
@import '/src/components/media-queries-triggers.scss';

$add-link-icon-size: 85px;
$add-link-icon-size--mobile: 70px;


// NOTE: Prefix Links-section is needed to provide enough specificity
.Links-section .Links-add-button {
  padding: 0px;
  // Place button always at the same bottom-right corner
  position: fixed;
  right: 15px;
  bottom: 15px;

  .Links-add-icon {
    color: $color-baby-blue;
    width: $add-link-icon-size;
    height: $add-link-icon-size;
  }

  @media screen and (max-width: $screen-width--mobile) {
    right: 5px;
    bottom: 5px;

    .Links-add-icon {
      width: $add-link-icon-size--mobile;
      height: $add-link-icon-size--mobile;
    }
  }     
}