
@import '/src/components/colors.scss';

$add-link-icon-size: 85px;


// NOTE: Prefix Links-section is needed to provide enough specificity
.Links-section .Links-add-button {
  padding: 0px;
  // Place button always at the same bottom-right corner
  position: fixed;
  right: 15px;
  bottom: 15px;

  .Links-add-icon {
    color: $color-baby-blue;
    width: $add-link-icon-size;
    height: $add-link-icon-size;
  }
}