
@import '../colors';

.LinkForm {
  background-color: $color-oxford-blue;
  border-radius: 60px;
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3% 5% 1% 5%;
  color: $color-baby-blue;
  font-size: 15px;

  .text-field { 
    margin: 0 auto;
    justify-content: center;
    color: white;
    border-color: 'red';
    width: 100%;
  }

  .icon-btn {
    color: #E5E5E5;
    padding: 0;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .single-icon-btn {
    color: #E5E5E5;
    padding: 0;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    margin: 0;
  }

  .switch-private {
    padding: 0;
    padding-left: 3vw;
  }

  .icon-tag {
    padding: 0;
    border: 0;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .LinkForm {
    width: 70%;
    border-radius: 40px;
    padding: 10% 5% 6% 5%;
  }
}

@media (max-width: 500px) {
  .LinkForm {
    width: 80%;

    .switch-private {
      padding-left: 0;
    }
  }
}