
@import '../colors';
@import '../Navbar/variables';
@import './LinkCard/variables.scss';

$links-viewport-height: calc(
  100vh - #{$navbar-height}
);


.Links {
  background-color: $color-oxford-blue;
  width: 100%;  
  // Height is at least as big as the viewport-height, but may 
  // grow bigger if all link-cards don't fit in viewport-height  
  min-height: $links-viewport-height;    
  position: relative;

  .Links-container { 
    margin: 0 auto;    
    padding: 50px 130px;
    width: 100%;   
    // Grid styling.
      // - Grid vertical-size is set to 'auto-fit' to create as much rows as needed,
      // but the horizontal-size is set to minimum the size of one link-card
      // and maximum the size of the Link-Container.
      // - The amount of columns created will depend on the size of the screen of the user.
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($link-card-width, max-content));
    grid-row-gap: 25px;
    grid-column-gap: 50px;
    justify-content: center; 
  }  
}