
@import '/src/components/colors.scss';


.Links-card-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center; 

  .Links-card-tag {
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 12px;
    color: $color-black;   
    background-color: $color-baby-blue;
    // TODO: this max-width assumes a maximum of 3 tags are given
    max-width: 33%;

    // Add margin-right to all tags but last one
    &:not(:last-of-type) {
      margin-right: 5px;
    }      
  }
}