
$link-big-card-width: 310px;
$link-big-card-height: 210px;

$link-medium-card-width: 250px;
$link-medium-card-height: 210px;

$link-small-card-width: 500px;
$link-small-card-height: 85px;

$action-buttons-width: 64px;
