
@import './colors.scss';
@import './common/common.scss';

* {
  box-sizing: border-box;
}

body {
  // This background-color is needed to be able to provide the
  // styled opacity to the sticky Navbar
  background-color: $color-black;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}