
@import '../variables.scss';


.Links-card-action-buttons {
  min-width: $action-buttons-width;
  max-width: $action-buttons-width;
  // Flex
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .Links-card-url-edit-button,
  .Links-card-url-copy-button {
    padding: 0px;
    margin-left: 8px;
    // Scale hover animation
    transition: transform 0.1s;
    &:hover {
      transform: scale(1.05);
    }      
  }

  .Links-card-url-edit-icon,
  .Links-card-url-copy-icon {
    color: white;
    width: 24px;
    height: 24px;
  }
}